<div class="header">
<div class="left">
    <img src="./assets/images/menu.png" width="25px" height="30px">
    <a href="">
    <img src="./assets/images/logo.png" width="100px" height="30px" routerLink="">
    </a>
</div>
<div class="center">
<div class="center test">
    <div class="center test2">
        <form id="form">
            <div class="search-container">
                <input type="text" id="search" name="search" placeholder="Search">
                <button type="submit" class="search-button" style="font-size:18px">
                    <i class="fa fa-search" ></i>
                </button>
            </div>
        </form>
</div>
</div>
    <div class="center mic">
        <button>
            <i class="fa fa-microphone" style="font-size:18px"></i>
        </button>
    </div>
</div>
<div class="right">
    <div class="buttons">
            <div class="button r">
                <button>
                    <i class="fa fa-camera" style="font-size:18px;"></i>
                </button>
            </div>
            <div class="button b">
                <button>
                    <i class="fa fa-bell" style="font-size:18px"></i>
                    <img src="./assets/images/num.png" class="notif" alt="" />
                </button>
            </div>
            <div class="button p">
                <div>
                    <img src="./assets/images/mainuser.png" alt="" />
                </div>
            </div>
    </div>
</div>
</div>